﻿@model  Praktican_zadatak_SQL___Bosko_Jevtic.Models.ProizvodViewModel


@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="container" style="width:100%;margin-top:2%">

    @using (Html.BeginForm("DeleteRec", "Proizvod", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Id, new { @type = "number", @min = "1", @placeholder = "Id" })

        <input type="submit" value="submit" class="btn btn-block btn-primary" />
    }

</div>

<div>
    @Html.ActionLink("Vrati se nazad", "Index")
</div>