﻿@model  IEnumerable<Praktican_zadatak_SQL___Bosko_Jevtic.Models.ProizvodViewModel>


@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="container" style="width:100%;margin-top:2%">
    @if (Model != null)
    {
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Kategorija</th>
                <th>Proizvodjac</th>
                <th>Dobavljac</th>
                <th>Cena</th>
            </tr>

            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <th>@element.Id</th>
                        <th>@element.Naziv</th>
                        <th>@element.Opis</th>
                        <th>@element.Kategorija</th>
                        <th>@element.Proizvodjac</th>
                        <th>@element.Dobavljac</th>
                        <th>@element.Cena</th>
                    </tr>
                }
            </tbody>
        </table>
    }
 
    <div>
        @Html.ActionLink("Dodaj", "CreateRec")
        @Html.ActionLink("Brisi", "DeleteRec")
        @Html.ActionLink("Menjaj", "UpdateRec")
    </div>
           
</div>


