﻿@model  Praktican_zadatak_SQL___Bosko_Jevtic.Models.ProizvodViewModel


@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="container" style="width:100%;margin-top:2%">

    @using (Html.BeginForm("UpdateRec", "Proizvod", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Id, new { @type = "number", @min = "1", @placeholder = "Id" })
        @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", @placeholder = "Naziv" })
        @Html.TextBoxFor(model => model.Opis, new { @class = "form-control", @placeholder = "Opis" })
        @Html.TextBoxFor(model => model.Kategorija, new { @class = "form-control", @placeholder = "Kategorija" })
        @Html.TextBoxFor(model => model.Proizvodjac, new { @class = "form-control", @placeholder = "Proizvodjac" })
        @Html.TextBoxFor(model => model.Dobavljac, new { @class = "form-control", @placeholder = "Dobavljac" })
        @Html.TextBoxFor(model => model.Cena, new { @type = "number", @min = "1", @placeholder = "Cena" })

        <input type="submit" value="submit" class="btn btn-block btn-primary" />
    }

</div>

<div>
    @Html.ActionLink("Vrati se nazad", "Index")
</div>